# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
.env.local
.env.*.local

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Node / user-app future
node_modules/
dist/
build/
